.main-nav {
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003f85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
}

.main-nav__conteiner {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  box-sizing: content-box;

  @media (min-width: $vp-1200) {
    padding: 30px 45px 51px 45px;
  }

  @media (min-width: $vp-768) {
    padding: 40px 45px 82px 45px;
  }

  @media (min-width: $vp-320) {
    padding: 20px 15px 80px 15px;
  }
}

.main-nav__contacts {
  display: flex;
  justify-content: space-between;
}

.main-nav__contacts-logo {
  display: flex;
  align-items: center;

  @media (min-width: $vp-320) {
    align-items: stretch;
  }
}

.main-nav__contacts-tel {
  @media (min-width: $vp-1200) {
    position: absolute;
    right: 45px;
    display: flex;
    flex-direction: column;
    z-index: 20;
  }

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 324px;
  }

  @media (min-width: $vp-320) {
    display: block;
    max-width: 120px;
  }
}

.main-nav__link-tel {
  letter-spacing: 0.03em;
  color: #ffffff;
  font-family: "Bebas Neue", "Arial", sans-serif;


  @media (min-width: $vp-1200) {
    font-size: 26px;
    line-height: 26px;
  }

  @media (min-width: $vp-768) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $vp-320) {
    font-size: 20px;
    line-height: 20px;
  }
}

.main-nav__contacts a:hover {
  color: #0041ca;
}

.main-nav__block {
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: $vp-1200) {
    justify-content: start;
    padding-top: 0;
  }

  @media (min-width: $vp-768) {
    justify-content: center;
    padding-top: 18px;
  }

  @media (min-width: $vp-320) {
    justify-content: center;
  }
}

.main-nav__block img {
  @media (min-width: $vp-1200) {
    width: 500px;
    height: 556px;
  }

  @media (min-width: $vp-768) {
    display: block;
    width: 100%;
    min-width: 324px;
    height: 100%;
    min-height: 390px;
  }

  @media (min-width: $vp-320) {
    display: none;
  }
}

.main-nav__text {
  text-align: right;

  @media (min-width: $vp-1200) {
    padding-top: 70px;
    padding-left: 18px;
    padding-right: 64px;
  }

  @media (min-width: $vp-768) {
    padding-top: 30px;
    padding-right: 30px;
  }

  @media (min-width: $vp-320) {
    padding-top: 65px;
  }
}

.main-nav__text span {
  color: #ffffff;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;

  @media (min-width: $vp-1200) {
    font-size: 49px;
    line-height: 59px;
  }

  @media (min-width: $vp-768) {
    font-size: 34px;
    line-height: 41px;
  }

  @media (min-width: $vp-320) {
    font-size: 28px;
    line-height: 34px;
  }
}

.main-nav__title {
  position: relative;

  @media (min-width: $vp-1200) {
    padding-left: 79px;
    padding-bottom: 55px;
  }

  @media (min-width: $vp-768) {
    display: flex;
    align-items: end;
    padding-left: 89px;
    padding-top: 0;
  }

  @media (min-width: $vp-320) {
    display: flex;
    padding-top: 10px;
  }
}

.main-nav__services {
  width: 113px;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  list-style-type: none;

  @media (min-width: $vp-1200) {
    top: 135px;
    left: 0;
  }

  @media (min-width: $vp-768) {
    position: absolute;
    top: 95px;
    left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  @media (min-width: $vp-320) {
    margin-right: -34px;
    margin-top: 82px;
  }
}

h1 {
  margin: 0;
  color: #ffffff;
  font-family: "Bebas Neue", "Arial", sans-serif;
  -webkit-text-stroke: 2px;
  letter-spacing: 0.03em;
  box-sizing: content-box;

  @media (min-width: $vp-1200) {
    width: 298px;
    padding-top: 10px;
    font-size: 109px;
    line-height: 109px;
  }

  @media (min-width: $vp-768) {
    width: 235px;
    font-size: 86px;
    line-height: 86px;
  }

  @media (min-width: $vp-320) {
    font-weight: 700;
    width: 213px;
    font-size: 78px;
    line-height: 78px;
  }
}

.main-nav__buy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: 4px solid #ffffff;

  @media (min-width: $vp-1200) {
    width: 230px;
    height: 60px;
    margin-top: 0;
  }

  @media (min-width: $vp-768) {
    width: 183px;
    height: 59px;
    margin-top: 45px;
  }

  @media (min-width: $vp-320) {
    width: 100%;
    height: 59px;
    margin-top: 42px;
  }
}

.main-nav__buy:hover {
  border: none;
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
}

.main-nav__buy-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.main-nav__social {
  position: absolute;
  bottom: 40px;
  right: 0;

  @media (min-width: $vp-1200) {
    display: block;
  }

  @media (min-width: $vp-320) {
    display: none;
  }
}

.main-nav__social-list {
  text-align: right;
  margin: auto 0 0 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__social-item {
  // padding-right: 15px;
  padding-bottom: 7px;
}

.main-nav__social-item:last-child {
  padding-bottom: 0;
}

.main-nav__social-link {
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
  list-style-type: none;
  text-transform: uppercase;
}

.main-nav__social-link:hover {
  color: #0041ca;
}
