.stock {
  max-width: 1160px;
  margin: 0 auto;
  box-sizing: content-box;

  @media (min-width: $vp-1200) {
    padding: 120px 45px;
  }

  @media (min-width: $vp-768) {
    padding: 100px 45px;
  }

  @media (min-width: $vp-320) {
    padding: 70px 15px;
  }
}

.stock__conteiner {
  @media (min-width: $vp-1200) {
    display: flex;
    justify-content: space-between;
  }
}

.stock h2 {
  text-align: center;
  width: 100%;
  margin: 0;
  color: #102654;
  font-family: "Bebas Neue", "Arial", sans-serif;
  letter-spacing: 0.03em;

  @media (min-width: $vp-1200) {
    padding-bottom: 50px;
    font-size: 49px;
    line-height: 49px;
  }

  @media (min-width: $vp-768) {
    padding-bottom: 40px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $vp-320) {
    padding-bottom: 42px;
    font-size: 32px;
    line-height: 32px;
  }
}

.stock__box {
  width: 100%;

  @media (min-width: $vp-1200) {
    max-width: 575px;
    padding-right: 15px;
  }

  @media (min-width: $vp-768) {
    display: flex;
  }

  @media (min-width: $vp-320) {
    display: block;
  }
}

.stock__main {
  padding: 35px 45px 45px 45px;
  background: #ed0233;

  @media (min-width: $vp-1200) {
    width: 100%;
    max-width: 280px;
    height: auto;
  }

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 100%;
    max-width: 450px;
  }

  @media (min-width: $vp-320) {
    text-align: center;
    width: 100%;
  }
}

.stock__main-text {
  flex: 1 0 auto;
}

.stock__main h3 {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
}

.stock__main span {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 70px;
  line-height: 53px;
}

.stock__main p {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  @media (min-width: $vp-768) {
    padding-top: 25px;
    padding-bottom: 16px;
  }

  @media (min-width: $vp-320) {
    padding-top: 20px;
    padding-bottom: 23px;
  }
}

.stock__main-link {
  width: 79px;
  margin: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: underline;
  flex: 0 0 auto;
}

.stock__main-link:hover {
  color: #0041ca;
}

.stock__img {
  width: 100%;
}

.stock__img img {
  height: 100%;

  @media (min-width: $vp-1200) {
    width: 280px;
    min-width: 280px;
  }

  @media (min-width: $vp-768) {
    width: 100%;
    min-width: 399px;
    min-height: 462px;
  }

  @media (min-width: $vp-320) {
    width: 100%;
    min-width: 290px;
  }
}

.stock__block {
  width: 100%;

  @media (min-width: $vp-1200) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 560px;
    padding-top: 0;
  }

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $vp-320) {
    padding-top: 30px;
  }
}

.stock__discount {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 211px;
  padding: 20px 28px 28px 28px;
  border: 7px solid;
  border-image: linear-gradient(145deg, #d10a42, #00359f) 1;

  @media (min-width: $vp-1200) {
    margin-right: 0;
    margin-bottom: 40px;
  }

  @media (min-width: $vp-768) {
    text-align: start;
    align-items: stretch;
    width: 100%;
    margin-right: 30px;
    margin-bottom: 0;
  }

  @media (min-width: $vp-320) {
    text-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }
}

.stock__discount:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.stock__discount-text {
  @media (min-width: $vp-768) {
    flex: 1 0 auto;
  }
}

.stock__discount h3 {
  padding-bottom: 10px;
  margin: 0;
  color: #1c3374;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;

  @media (min-width: $vp-768) {
    padding-top: 0;
  }

  @media (min-width: $vp-320) {
    padding-top: 14px;
  }
}

.stock__discount p {
  margin: 0;
  color: #1c3374;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.stock__discount-link {
  width: 68px;
  margin: 0;
  color: #1c3374;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: underline;
  flex: 0 0 auto;

  @media (min-width: $vp-768) {
    margin-top: 0;
  }

  @media (min-width: $vp-320) {
    margin-top: 25px;
  }
}

.stock__discount-link:hover {
  color: #0041ca;
}
